* {
  margin: 0;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 14px;
}

html,
body {
  height: 100%;
  color: #453e4d;
}

body {
  background-color: #f0f0f0;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

h2 {
  margin-bottom: 1rem;
}

h4 {
  margin-bottom: .5rem;
}

.big_boy {
  font-size: 1.5em;
}

.f_w_700 {
  font-weight: 700;
}

.paper {
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid;
  margin-bottom: 1rem;
}

.error {
  background-color: #eeb2b2;
  color: #e43c3c;
}

.warning {
  background-color: #ebeeb2;
  color: #aeaa41;
}

.success {
  background-color: #b2eeb9;
  color: #36ae2b;
}

ul li {
  font-size: 1.5rem;
}

ul li:nth-child(3) {
  color: coral;
}

.tp_table {
  width: 100%;
  border-spacing: 0;
}

.tp_table,
.tp_table th,
.tp_table td {
  border: 1px solid;
}

.tp_table th,
.tp_table td {
  padding: 0.5rem;
  text-align: center;
}

.tp_table th {
  background-color: #52acfb;
}

.tp_table tr:nth-child(odd) {
  background-color: #9fd2ff;
}

.tp_table tr:nth-child(even) {
  background-color: #badbf8;
}

.tiles-wrapper {
  margin: 0 -0.5rem;
  width: calc(100% + 1rem);
}

.tile_container {
  width: calc(100% / 4);
  font-size: 0;
  display: inline-block;
  box-sizing: border-box;
  padding: 0.5rem;
}

.tile {
  font-size: 1rem;
  border: 2px solid #ac9cba;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
}

.tile_image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  border: 2px solid #ac9cba;
  position: relative;
}

.tile_description {
  margin-top: 1rem;
}

.tile img {
  width: 65%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
}